/*===Fonts Import===*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');

/*===Basic HTML Ruling===*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ================= Basic Responsive Images and Video ================= */
  img,video{
    width: auto;
    height: 800px;
    max-width: 100%;
}
.hero-banner img{
  padding: 35px;
}
hr.solid {
  border-top: 2px solid black;
}

/*===Body & Home Content===*/
body{
  margin: 0;
  padding: 0;
}
body,html{
  height:100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar a{
  color:black;
}
.navbar-links ul{
  margin: 0;
  padding: 0;
  display:flex;
}
.navbar-links li{
  list-style:none;
}
.navbar-links li a:hover{
  color: #d70022;
}
.navbar-links li a{
  text-decoration: none;
  padding-right: 7rem;
  display: block;
}
.campaign-title{
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  margin: .5rem;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height:21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color:black;
  border-radius: 10px;
}

.about, .volunteer, .paid-exp, .merch, .office-locations{
  padding: 15px;
}
.section-title{
  font-family: Montserrat;
}
.section-info{
  line-height: 2rem;
  font-family: Montserrat;
}
li{
  font-family:Montserrat;
  line-height: 2rem;
  list-style: square;
}
a{
  text-decoration: none;
  color: #d70022;
}
a:hover{
  text-decoration:underline;
}
h3{
  font-family: montserrat;
  font-weight: 600;
}

@media (max-width: 800px){
  .toggle-button{
    display:flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active{
    display:flex;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
}