/*===Fonts Import===*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap'); 

/*===Basic HTML Ruling===*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* ================= Basic Responsive Images and Video ================= */
  img,video{
    width: auto;
    height: 800px;
    max-width: 100%;
}
/*.hero-banner figure{
  width: 100%;
}*/
.hero-banner img{
  /*padding-top: 35px;
  padding-left: 75px;
  padding-bottom:35px;
  border: 2px solid #d70022;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
hr.solid {
  border-top: 2px solid #8b0000;
}

/*===Body & Home Content===*/
body{
  margin: 0;
  padding: 0;
}
body,html{
  height:100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#8b0000;
}
.navbar a{
  color: white;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display:flex;
}
.navbar-links li{
  list-style:none;
}
.navbar-links li:hover{
  list-style:none;
}
.navbar-links li a{
  text-decoration: none;
  padding-right: 6.5rem;
  display: block;
  font-size: 1.1rem;
}
.navbar-links ul li a:hover{
  text-decoration: underline;
}
.campaign-title{
  font-family: playfair display;
  font-size: 1.5em;
  font-weight:bold;  
  margin:1rem;
  padding-left:1rem;
}
.campaign-title a:hover{
  text-decoration:none;
}
#strip-1 input[type=text]{
  padding: 6px;
  border: none;
  color:#8b0000;
}
.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height:21px;
}

.toggle-button .bar{
  height: 3px;
  width: 100%;
  background-color:white;
  border-radius: 10px;
}

.about, .volunteer, .paid-exp, .merch, .office-locations{
  padding: 15px;
  padding-left:40px;
}
.section-title{
  font-family: Montserrat;
}
.section-info{
  line-height: 2rem;
  font-family: Montserrat;
}
li{
  font-family:Montserrat;
  line-height: 2rem;
  list-style: square;
}
a{
  text-decoration: none;
  color: #8b0000;
}
li a{
  font-weight: 600;
}
a:hover{
  text-decoration:underline;
}
h3{
  font-family: montserrat;
  font-weight: 600;
}
.position{
  font-weight: 600;
}
#merch-media .card-container{
    display:grid;
    grid-template-columns: repeat( 2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    padding-top:15px;
    margin:5px;
}
#merch-media .card-container figure>img{
  width: 500px;
  height: 500px;
}
.card-title{
  color: #8b0000;
}
.card-info{
  padding: 10px;
  margin-left: 25px;
}
.card>.card-info,.card>figure{
  max-width: 100%;
  max-height: 80%;
}

.about-card{
  font-family: Montserrat;
  line-height: 1.5rem;
}
.office-maps{
  display:flex;
  padding:20px;
  margin: 15px;
}
.office-maps h4{
  font-family: Montserrat;
  color: #8b0000;
}
.brooklyn, .jamaica{
  padding-right:100px;
}
.social-links li{
  list-style:none;
}
.social-links a{
  color: black;
}
.social-links i{
  font-size:37px;
  padding-left:30px;
  color:white;
}
.social-links{
  display:flex;
}
.social-apt-only{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #8b0000;
}
.notice h3{
  padding-right: 40px;
  color:white;
}

@media (max-width: 1200px){
  .toggle-button{
    display:flex;
  }
  .navbar-links{
    display: none;
    width: 100%;
  }
  .navbar-links ul{
    flex-direction: column;
    width: 100%;
  }
  .navbar-links li{
    text-align: center;
  }
  .navbar-links li:hover{
    background-color: #990000;
  }
  .navbar-links li a{
    padding: .5rem 1rem;
  }
  .navbar-links.active{
    display:flex;
  }
  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }
  .office-maps{
    display:block;
  }
  #merch-media .card-container{
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    margin:20px;
  }
  .card-container{
    padding: 10px;
  }

  .card>.card-info,.card>figure{
    max-width: 100%;
  }
}